table{ 
    width:100%; margin:auto; 
}
td{ 
    padding:10px; 
}
th{ 
    background:#e0e0e0; border:10px solid black; 
}
td{ 
    border:2px solid black; 
}
a:hover {
    color:black;
    text-decoration: none;
}